<div class="container">

  <div class="header">
    <div class="logo">
      <div class="l-title">LOGO</div>
      <div class="l-description">will be here</div>
    </div>

    <ul class="menu">
      <li>
        <a href="#">О Компании </a>
      </li>
      <li>
        <a href="#">Услуги</a>
      </li>
      <li>
        <a href="#">Отзывы</a>
      </li>
      <li>
        <a href="#">Контакты</a>
      </li>
    </ul>
  </div>

  <div class="advertise-block">
    <div class="img-block">
      <img src="../assets/Image004.png">
    </div>
    <div class="info-block">
      <div class="title">
        Типы контента, которые вы можете публиковать в своем интернет-магазине.
      </div>
      <div class="text">
        Грамотная контентная стратегия для интернет-магазина
        позволяет значительно увеличить объемы поискового трафика на сайт,
        за который предпринимателю нет необходимоси платить.Это повышает рентабельность бизнеса,
        ускоряет его развитие и дает преимущество...
      </div>

      <button class="details-btn">Подробнее</button>
    </div>
  </div>


  <div class="bottom-block">

    <div class="paragraph">
      <div class="title">Эффективность контентной стратегии</div>
      <div class="text">Грамотная контентная стратегия для интернет-магазина
        позволяет значительно увеличить объемы поискового трафика на сайт,
        а который предпринимателю нет необходимоси платить.Это повышает рентабельность бизнеса,
        ускоряет его развитие и дает преимущество по сравнению с конкурентами.Поэтому выстраивать
        эффективную стратегию контент-маркетинга в современных реалиях просто необходимо.
      </div>
    </div>

    <div class="banners-block">
      <div class="banner">
        <img src="../assets/foto2.jpg">
        <span>Улучшение посещаемости</span>
      </div>
      <div class="banner">
        <img src="../assets/foto3.png" style="width:20%">
        <span>Увеличение количества продаж</span>
      </div>
      <div class="banner">
        <img src="../assets/foto4.png">
        <span>Рост прибыли</span>
      </div>
      <div class="banner">
        <img src="../assets/foto5.png">
        <span>Стабильность бизнеса</span>
      </div>
    </div>

    <div class="paragraph">
      <div class="title">Информация о товаре</div>
      <div class="text"> Этот текст доступен посетителю на странице товара. Это может быть как качественно
        подготовленное
        описание,
        так и дополнительная информация:интересные факты, видеообзор, а также преимущества данного товара по сравнению
        с аналогами от конкурентов. Согласитесь, это будет гораздо интереснее, чем банальное описание технических
        характеристик.
      </div>
    </div>

    <div class="paragraph">
      <div class="title">Маркетинговый контент</div>
      <div class="text">Речь идет о заметках и публикациях с информациях о скидках, распродажах, конкурсах и прочих
        акционных
        придложениях.
        Такой текст тоже необходимо тщательно прорабатывать, так как от стиля подачи во многом зависит и успех подобной
        акции.
        В современных реалиях вызвать интерес со стороны потенциального клиента не так уж просто.
      </div>
    </div>

    <div class="paragraph">
      <div class="title">Обзорные статьи</div>
      <div class="text"> Они могут быть самыми разными-от разъяснения особенностей той или иной технологии и до
        демонстрации вариантов
        применения
        гаджета или другого подобного устройства. Важно раскрывать тему и давать пользователю исчерпывающий ответ на
        интересующий
        его вопрос. И да, не забывайте отвечать на комментарии-коммуникация должна быть двухсторонней.
      </div>
    </div>
  </div>
</div>
